/* =====================================
   KUSUU ❤️ NAAGII
   ANNIVERSARY CINEMATIC STYLE
===================================== */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body.anniversary-page{

    height:100vh;

    overflow:hidden;

    background:#100012;

    color:white;

    font-family:'Poppins',sans-serif;

}





/* BACKGROUND */


.anniversary-bg{

    position:fixed;

    inset:0;

    background:

    linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.85)
    ),

    radial-gradient(
    circle at center,
    #8a3765,
    #100012
    );


    z-index:-2;

}



.lights{

    position:absolute;

    inset:0;


    background-image:

    radial-gradient(
    #ffd6e7 2px,
    transparent 3px
    );


    background-size:80px 80px;


    animation:

    moveLights 15s linear infinite;

}






/* SCENE */


.anniversary-scene{


    height:100vh;


    display:flex;


    flex-direction:column;


    justify-content:center;


    align-items:center;


    text-align:center;


}





.anniversary-scene h1{


    font-family:'Great Vibes',cursive;


    font-size:85px;


    color:#ffd6e7;


    text-shadow:

    0 0 40px pink;

}





.subtitle{

    font-size:22px;

    margin:15px;

}





/* DATE CARD */


.date-card{


    width:380px;


    padding:25px;


    border-radius:25px;


    background:

    rgba(255,255,255,.12);


    backdrop-filter:blur(12px);


    animation:

    cardGlow 3s infinite;

}



.date-card h2{


    font-family:'Great Vibes',cursive;


    font-size:45px;


    color:#ffb6d5;


}



.place{


    font-size:25px;


    margin:15px;

}






/* TIMELINE */


.timeline{


    display:flex;


    gap:40px;


    margin:25px;


}



.moment{


    display:flex;


    flex-direction:column;


    font-size:45px;


    animation:

    float 3s infinite;


}



.moment span{


    font-size:15px;


}







/* PHOTO */


.date-photo img{


    width:180px;


    height:130px;


    object-fit:cover;


    border-radius:20px;


    box-shadow:

    0 0 30px pink;


    animation:

    photoFloat 3s infinite;

}







/* BUTTON */


#nextAnniversary{


    margin-top:20px;


    padding:15px 45px;


    border:none;


    border-radius:40px;


    background:#ffb6d5;


    cursor:pointer;


    font-size:17px;


}





/* ANIMATIONS */


@keyframes moveLights{


from{

transform:translateY(0);

}


to{

transform:translateY(-200px);

}

}



@keyframes cardGlow{


50%{

box-shadow:

0 0 50px pink;

}

}



@keyframes float{


50%{

transform:translateY(-15px);

}

}



@keyframes photoFloat{


50%{

transform:translateY(-10px);

}

}





@media(max-width:768px){


.anniversary-scene h1{

font-size:55px;

}


.date-card{

width:300px;

}


.timeline{

gap:15px;

}

}
